.create-task
  position sticky
  bottom 16px
  border 1px solid $borderColor
  border-radius 32px
  margin 36px auto 16px
  min-height 48px
  transition box-shadow 40ms cubic-bezier(.4,0,.2,1) 0s
  max-width 600px
  &:hover
    box-shadow 0 1px 6px rgba(32,33,36,.28)

fieldset.MuiOutlinedInput-notchedOutline
    border 0
