.page-container
  display flex
  flex-direction column
  height 100%
  width 100%
  background $color_surface

.content-container
  max-width 1000px
  margin 0 auto
  width 100%

.header
  display flex
  align-items center
  justify-content center
  width 100%
  padding 16px
  border-bottom 1px solid $color_border

.title
  font-size 18px
  font-weight 600
  margin 0
  flex 1