@import '../../../styles/variables'

.tasks-table-error
  padding 2rem
  text-align center
  color $color_error

.tasks-table-container
  width fit-content
  min-width 100%

  // Ensure table can use column widths properly
  .table
    width auto
    min-width fit-content
