@import '@styles/variables'

.physical-items-table-error
  padding 2rem
  text-align center
  color $color_error

.physical-items-table-container
  width fit-content
  min-width 100%

  .table
    width auto
    min-width fit-content

@media (max-width: 768px)
  .physical-items-table-container .table
    padding-left: 0
