.list-container
  flex 1
  padding 20px
  overflow auto

.task-link
  display block
  text-decoration none
  color inherit
  margin-bottom 12px
  
  &:hover
    opacity 0.9

.no-tasks
  color $color_text_secondary
  text-align center
  padding 20px 